* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#assignHexValue {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#myButton {
  padding: 10px 45px;
  font-size: 17px;
  color: #fff;
  background-color: #111;
  text-transform: uppercase;
  border-color: rgba(201, 184, 184, 0.767);
}

#cpy_btn {
  margin-left: 3px;
  padding: 5px 8px;
}
