@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

/* for centering div  */
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s linear;
}

.body-color-chage {
  background-color: #111111cb;
  color: #fff;
  transition: all 0.5s linear;
}

button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  background-color: #111111cb;
  color: #fff;
  border: none;
  transition: all 0.5s linear;
}

.button-color-change {
  background-color: #fff;
  color: #111;
  transition: all 0.5s linear;
}
